/* src/components/NavBar.css */
.nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 61px;
}
  .nav img{
    width: 174px;
    margin-top: 26px;
  }
  .nav .link{
    display: flex;
    gap: 85px;
    backdrop-filter: blur(60px);
    background-color: rgb(109 10 185 / 16%);
    border-radius: 16px;
    height: 44px;
    padding: 0px 25px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .right{
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 16px;
    height: 44px;
    width: 174px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }